video-js {

    display: block;
    margin: 0 auto;
    border: 4px solid #5f2eaf;
    min-width: 800px;
    min-height: 600px;
}

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: 80%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

body {
    background-color: #0c0022;
    color: white;
    background-image: url("../images/dizzco.jpg");
    background-size: 100% auto; /* width and height, can be %, px or whatever. */
    background-repeat: no-repeat; /*Prevent showing multiple background images*/
    background-attachment: fixed;
}
.wrapper {
    display: block;
    position: fixed;
    top: 25%;
    left: 19.5%;    
}

.video-container{
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;

    top: 155px;
    left: 150px;
    right: 0;
    bottom: 0;
    width: 100% auto;
    height: 100% auto;
}

.offline-div{
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    
}



.wrapper {
    display: block;
    position: fixed;
    top: 30%;
    left: 20%;
  }
  
  i{
    padding: 0px 13px; 
  } 

  
  .wrapper i{
    color: #823eff;
    cursor: pointer;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.3);
    transition: all ease-in-out 150ms;
    background-image: linear-gradient(45deg, #CC00FF, #6E0DD0, #FF6600, #00FF00, #ffff00, #ff0000, #FFFF00, #FFFF33, #FF00FF, #FF00CC, #FF0000, #33FF00, #00FFFF, #099FFF, #0062FF, #ff0000, #E6FB04, #0033FF, #FF0099, #00FF33, #0000ff, #00ff00, #fb0094, #0000ff, #00ff00, #fb0094, #FD1C03, #FF3300, #CC00FF, #9D00FF, #CC00FF, #6E0DD0, #9900FF);
    background-size: 400%;
    z-index: -1;
    animation: linear-shadow 25s linear infinite;
    color: transparent;
    -webkit-background-clip: text;
    filter:blur(27px);
  }

  .rainbow {
    display: block;
    position: fixed;
    top: 30%;
    left: 20%;
  }
  
  i{
    padding: 0px 13px; 
  } 
  .rainbow i{
    color: #823eff;
    cursor: pointer;
    text-shadow: 2px 6px 8px rgba(2, 1, 65, 0.9);
    transition: all ease-in-out 150ms;
  }


  @keyframes colorRotate {
    from {
      color: #6666ff;
    }
    10% {
      color: #0099ff;
    }
    50% {
      color: #00ff00;
    }
    75% {
      color: #ff3399;
    }
    100% {
      color: #6666ff;
    }
  }

  
  @keyframes linear-shadow {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
